html { /* 设置html，html元素是整个网页的根元素 */
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 16px;
  background-color: #00539f; /*设置页面背景颜色*/
}

body { /* 设置body，body元素包含网页的主要内容 */
  width: 600px; /*设置页面主体宽度*/
  margin: 0 auto; /*设置页面主体的外边距为自动，以居中显示*/
  background-color: #ff9500; /*设置页面主体背景颜色*/
  padding: 0 20px 20px 20px; /*设置页面主体的内边距，上右下左*/
  border: 10px solid black; /*设置页面主体的边框，宽度为5像素，样式为实线，颜色为黑色*/
}

h1 {
  font-size: 60px;  /*设置主标题的字体大小*/
  text-align: center; /*设置主标题的对齐方式为居中*/
  margin-bottom: 40px; /*设置主标题的下边距*/
  font-family: "Bitcount Grid Single", system-ui; /*设置主标题的字体*/
  margin: 0; /*设置主标题的外边距为0*/
  padding: 20px 0; /*设置主标题的内边距，上下20像素，左右0*/
  color: #00539f; /*设置主标题的字体颜色*/
  text-shadow: 5px 3px 1px black; /*设置主标题的文字阴影效果*/
}

p,
li {
/*  font-size: 16px; /*设置段落和列表项的字体大小*/
  line-height: 2; /*设置段落和列表项的行高，单位是倍数*/
  letter-spacing: 1px; /*设置段落和列表项的字母间距*/
}

img {
  display: block;   /* 将图像设置为块级元素 */
  margin: 0 auto;   /* 居中对齐图像 */
  max-width: 33%;  /* max-width表示最大宽度 */
}